* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #222;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

section {
    padding: 2rem 1.75rem;
}

section p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: 'DM Serif Display', serif;
    letter-spacing: .75px;
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    border-bottom: 4px double #222;
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1.125rem;
}

p {
    line-height: 1.33;
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.columns .column-half,
.columns .column-one-third,
.columns .column-two-thirds,
.columns .column-full {
    width: 100%;
}

.column-one-third {
    order: 1;
}

.column-two-thirds {
    order: 2;
}

/* Header */
.site-header {
    background-color: #222;
    padding: 2rem 1.75rem;
}

.site-header h1 {
    color: #40bcbd;
    margin-bottom: 1.5rem;
    text-align: center;
}

.navigation {
    text-align: center;
}

.navigation a {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #40bcbd;
    color: #40bcbd;
    cursor: pointer;
    display: inline-block;
    font-size: .75rem;
    letter-spacing: .5px;
    margin-left: .65rem;
    padding: .5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a:first-child {
    margin-left: 0;
}

.navigation a:hover {
    color: #fff;
    border-color: #fff;
}

/* Main content */

/* About */
.photo {
    display: inline-block;
    margin-bottom: 1.5rem;
    max-width: 100%;
}

/* Projects */
.projects {
    background-color: #222;
    color: #fff;
}

.projects h2 {
    border-color: #fff;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.project-image {
    display: inline-block;
    margin-bottom: 1.5rem;
    width: 100%;
}

.project-info {
    padding: 0;
    width: 100%;
}

.project-link {
    background-color: transparent;
    border: 1px solid #40bcbd;
    border-radius: 0;
    color: #40bcbd;
    cursor: pointer;
    display: inline-block;
    font-size: .75rem;
    letter-spacing: .5px;
    margin-top: .75rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

.project-link:hover {
    background-color: #40bcbd;
    color: #222;
}

/* Skills */
.skills p {
    margin: 0;
}

.skills ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5rem 0 0;
    padding: 0;
    text-align: center;
}

.skills ul li {
    align-items: center;
    aspect-ratio: 1;
    border: 1px solid #222;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    justify-content: center;
    list-style: none;
    margin-bottom: .25rem;
    padding: 0;
    transition: border .5s ease-in;
    width: 24%;
}

.skills ul li .skill-icon {
    transition: color .3s ease-in;
}

.skills ul li.html5 {
    border-color: #dd4b30;
    color: #dd4b30;
}

.skills ul li.css3 {
    border-color: #264bdf;
    color: #264bdf;
}

.skills ul li.sass {
    border-color: #c66494;
    color: #c66494;
}

.skills ul li.js {
    border-color: #e8d44c;
    color: #e8d44c;
}

.skills ul li.react {
    border-color: #5ed3f2;
    color: #5ed3f2;
}

.skills ul li.php {
    border-color: #868eb8;
    color: #868eb8;
}

.skills ul li.gulp {
    border-color:  #cd4745;
    color:  #cd4745;
}

.skills ul li.npm {
    border-color: #c53636;
    color: #c53636;
}

/* Contact */
.contact {
    background-color: #40bcbd;
    color: #222;
}

.social {
    margin-top: 1.5rem;
}

.social li {
    display: inline-block;
    font-size: 1.5rem;
    list-style: none;
    padding-right: .875rem;
}

.social li a {
    color: #222;
}

.social li a:hover {
    color: #fff;
}

/* Footer */
.site-footer {
    background-color: #222;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* Skill Modal */
@keyframes modalAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalDisappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.skill-modal {
    align-items: center;
    animation: modalAppear .5s ease-in-out .1s 1 forwards;
    background-color: rgba(0, 0, 0, .6);
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.skill-modal .modal-inner {
    background-color: #fff;
    height: min-content;
    padding: 2.5rem 2rem;
    position: relative;
    width: 600px;
}

.skill-modal .modal-inner button {
    background-color: transparent;
    border: 1px solid #40bcbd;
    color: #40bcbd;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1;
    padding: .225rem .4375rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: all .2s linear;
}

.skill-modal .modal-inner button:hover {
    background-color: #40bcbd;
    border-color: #40bcbd;
    color: #fff;
}

.skill-modal .modal-inner h3 {
    border-bottom: 4px double #222;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
}

.skill-modal .modal-inner div p {
    margin-top: 0;
}

.skill-modal .modal-inner div p:last-child {
    margin-bottom: 0;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    section {
        padding: 3rem 2rem;
    }

    .site-header {
        padding: 2rem 1.75rem;
    }

    .site-header h1 {
        margin-bottom: 2.5rem;
    }

    .photo {
        width: 100%;
    }

    .skills ul {
        margin-top: 2rem;
    }

    .skills ul li {
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 4rem 0;
    }

    .columns .column-half {
        width: 49%;
    }

    .columns .column-one-third {
        order: 2;
        width: 33%;
    }
    
    .columns .column-two-thirds {
        order: 1;
        width: 62%;
    }

    .site-header {
        padding: 2rem 0;
    }

    .site-header h1 {
        margin-bottom: 0;
        text-align: left;
    }

    .navigation {
        align-self: center;
        text-align: right;
    }

    .navigation a {
        padding: .5rem 1rem;
    }

    .photo {
        margin-bottom: 0;
        width: unset;
    }

    .project-image {
        margin-bottom: 0;
        width: 24%;
    }

    .project-info {
        padding: 0 1.25rem;
        width: 75%;
    }

    .skills ul {
        margin-top: 2.25rem;
    }

    .skills ul li {
        font-size: 3.5rem;
        margin-bottom: 0;
        width: 11%;
    }
}
