* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #222;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

section {
    padding: 4rem 0;
}

section p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: 'DM Serif Display', serif;
    letter-spacing: .75px;
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    border-bottom: 4px double #222;
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1.125rem;
}

p {
    line-height: 1.33;
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.columns .column-half,
.columns .column-one-third,
.columns .column-two-thirds,
.columns .column-full {
    width: 100%;
}

/* Header */
.site-header {
    background-color: #222;
    padding: 2rem 1.75rem;
}

.site-header h1 {
    color: #40bcbd;
    margin-bottom: 1.5rem;
    text-align: center;
}

.navigation {
    text-align: center;
}

.navigation a {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #40bcbd;
    color: #40bcbd;
    cursor: pointer;
    display: inline-block;
    font-size: .75rem;
    letter-spacing: .5px;
    margin-left: .65rem;
    padding: .5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a:first-child {
    margin-left: 0;
}

.navigation a:hover {
    color: #fff;
    border-color: #fff;
}

/* About */
.photo {
    display: inline-block;
    max-width: 100%;
}

/* Projects */
.projects {
    background-color: #222;
    color: #fff;
}

.projects h2 {
    border-color: #fff;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.project-image {
    width: 24%;
}

.project-info {
    padding: 0 1.25rem;
    width: 75%;
}

.project-link {
    background-color: transparent;
    border: 1px solid #40bcbd;
    border-radius: 0;
    color: #40bcbd;
    cursor: pointer;
    display: inline-block;
    font-size: .75rem;
    letter-spacing: .5px;
    margin-top: .75rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

.project-link:hover {
    background-color: #40bcbd;
    color: #222;
}

/* Skills */
.skills p {
    margin: 0;
}

.skills ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.25rem 0 0;
    padding: 0;
    text-align: center;
}

.skills ul li {
    align-items: center;
    aspect-ratio: 1;
    border: 1px solid #222;
    display: flex;
    flex-wrap: wrap;
    font-size: 3.5rem;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 24%
}

/* Contact */
.contact {
    background-color: #40bcbd;
    color: #222;
}

.social {
    margin-top: 1.5rem;
}

.social li {
    display: inline-block;
    font-size: 1.5rem;
    list-style: none;
    padding-right: .875rem;
}

.social li a {
    color: #222;
}

.social li a:hover {
    color: #fff;
}

/* Footer */
.site-footer {
    background-color: #222;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 992px) {
    .columns .column-half {
        width: 49%;
    }

    .columns .column-one-third {
        width: 33%;
    }
    
    .columns .column-two-thirds {
        width: 62%;
    }

    .site-header {
        padding: 2rem 0;
    }

    .site-header h1 {
        margin-bottom: 0;
        text-align: left;
    }

    .navigation {
        align-self: center;
        text-align: right;
    }

    .navigation a {
        padding: .5rem 1rem;
    }

    .skills ul li {
        width: 11%;
    }
}
